body { 

    background-image: linear-gradient(to bottom, #754343, #FFE1E3);
    border: 5px solid #393939;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 425;
    font-style: normal;
    font-size: 15px;
}

main img {
    border: 3.5px solid #754343;
}

.harpe {
padding-left: 30px;
padding-right: 30px;
margin-left: 23px;
}

.gossip {
    padding-left: 37px;
    padding-right: 37px;
}

.build {
    padding-left: 28px;
    padding-right: 28px;
}

.resort {
    margin-right: 23.5px;
}

nav { 
	background-color: #FFE1E3;
    padding: 1.1%;
    border-bottom: 5px solid #393939;
    text-decoration: none;
    color: #754343;
}

main {
    text-align: center;
    padding: 20px;    
    color: #263326;
}


h2 {
    color: #000000;
    font-weight: bolder;
    font-size: x-large;
}

p {
    color: #000000;
}

nav ul li a:active {
    color: #667D66;
}

button {
    background-color: #4F674F;
    color: #ffffff;
    border-radius: 30px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    
}

button:hover {
    color: #4F674F;
    background-color: #FFE1E3;
    transition: ease-out .5s;
}

nav ul {
	margin: 0;
	padding: 0;
    text-align: center;
    font-size: x-large;
}

footer { 
	font-size: 75%;
	text-align: center;
    padding-top: 20px;
}

nav ul li {
	display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

footer h2 {
    color: #754343;
    margin: 0;
    font-size: x-large;
    text-decoration: none;
}

nav ul span img {
    float: left;
    margin-top: 0;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}