
/*************************** Tablet ***************************/
body { 
	background-image: linear-gradient(to bottom, #754343, #FFE1E3); 
}

nav { 
	background-color: #FFE1E3;
    padding: 1.1%;
    border: 5px solid #393939;
    text-decoration: none;
    color: #754343;
}

nav ul {
	margin: 0;
	padding: 0;
    text-align: center;
    font-size: x-large;
}

footer { 
	font-size: 75%;
	text-align: center;
    padding-top: 20px;
}

main img {
	display: block;
	max-width: 100%;
    margin: auto;
    border: 5px solid #393939;
    border-top: 0;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

nav ul li {
	display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:active {
    color: #667D66;
}

footer h2 {
    color: #754343;
    margin: 0;
    padding-bottom: 17px;
    font-size: x-large;
}

nav ul span img {
    float: left;
    margin-top: 0;
}
