/* Practice CustomFonts Style Sheet */
@font-face {
    font-family: 'windsong';
    src: url('../fonts/Windsong-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sofia';
    src: url('../fonts/sofia-regular-webfont.woff') format('woff'),
         url('../fonts/sofia-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'windsong', "Times New Roman", serif;
    font-size: 32px;
}



